<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Hopper</title>
</head>
<body>
    <h1>Grace Murray Hopper</h1>
    <img src="img/grace-hopper-la-brillante-inventora-del-primer-compilador.jpg" alt="hopper">
    <p>Grace Murray Hopper (Nueva York, 9 de diciembre de 1906 - Condado de Arlington, 1 de enero de 1992) fue una científica de la computación y militar estadounidense con grado de contraalmirante. Fue pionera en el mundo de las ciencias de la computación y la primera programadora que utilizó el Mark I. Entre las décadas de los 50 y 60 desarrolló el primer compilador para un lenguaje de programación así como también propició métodos de validación. 1​2​3​4​5​6​

        Popularizó la idea de los lenguajes de programación independientes de la máquina, lo que derivó en el desarrollo de COBOL, un lenguaje de alto nivel de programación que aún se utiliza. Era conocida por sus amistades como Amazing Grace</p>
<h2>Legado</h2>
<p>Grace Hooper fue una de las mujeres más influyentes en el ámbito de la informática, aparte de realizar una vida dedicada a su patria. Enfocó sus estudios en mejorar la tecnología norteamericana y, por consiguiente, mundial. El desarrollo de la primera máquina calculadora electromecánica (Mark I, junto con Howard H. Aiken) y la creación del lenguaje COBOL, el cual permitía que gente poco especializada pudiera programar, generaron una base de ayuda y de simplificación para que el mundo de la informática evolucionara.14​15​

    Desde el año 1971 la Association for Computing Machinery entrega un premio anual en su nombre, el Premio Grace Murray Hopper,16​ que reconoce a personas que han realizado aportaciones sobresalientes a la informática antes de cumplir los 35 años. Desde el año 1994, y anualmente desde 2006, se viene celebrando la Grace Hopper Celebration of Women in Computing, una serie de conferencias para estimular la presencia de las mujeres en el mundo tecnológico.17​. Recibió más de 40 doctorados honorarios y un destructor de la marina estadounidense, el USS Hopper, lleva su nombre.16​18​
    
    Para mí la programación es más que un importante arte práctico. También es un reto enorme en los fundamentos del conocimiento.19​20​
    Grace Hopper
    Hopper consideraba su mayor logro la formación dada a tanta gente joven, incluyendo más de 200 conferencias.18​
    
    Por el legado que ha dejado Hooper, muchos estudiosos la consideran la primera "hacker" de la era de la computación. Y hasta el año 2019, es la primera y única mujer que ha alcanzado el grado de contraalmirante en la Marina de Guerra estadounidense.18​ Se la conoce con los sobrenombres de Abuela COBOL y Amazing Grace.21​</p>
    <a class="botonHome" href="http://localhost:3030/home">Volver al Home</a>
</body>
</html>