<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body class="bodyHome">
    <h1 class="tituloHome">Trabajo practico heroes de DH</h1>
    <ul>
    <li><a href="http://localhost:3030/babbage">Charles Babbage</a></li>
    <li><a href="http://localhost:3030/berners-lee">Berners-lee</a></li>
    <li><a href="http://localhost:3030/clarke">Joan-clarke</a></li>
    <li><a href="http://localhost:3030/hamilton">Margaret-Hamilton</a></li>
    <li><a href="http://localhost:3030/hopper">Hopper</a></li>
    <li><a href="http://localhost:3030/lovelace">Ada Lovelace</a></li>
    <li><a href="http://localhost:3030/turing">Alan Turing</a></li>
    </ul>
</body>
</html>